name: Linting

on:
  - pull_request
  - push

jobs:
  linting:
    name: linting
    runs-on: ubuntu-latest
    steps:
      - name: Install NodeJS
        uses: actions/setup-node@v3
        with:
          node-version: 16

      - name: Code Checkout
        uses: actions/checkout@v3

      - name: Install Dependencies
        run: npm ci --force

      - name: Code Linting
        run: npm run lint
