name: Testing

on:
  - pull_request
  - push

jobs:
  testing:
    name: testing
    runs-on: ubuntu-latest
    steps:
      - name: Install NodeJS
        uses: actions/setup-node@v3
        with:
          node-version: 16

      - name: Code Checkout
        uses: actions/checkout@v3

      - name: Install Dependencies
        run: npm ci --force

      - name: Run tests
        run: npm run test
